    h1{
        color:#467fb5;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;
        }
    p{
        margin:auto;
        border:3px;
        align-content: space-around;

    }
    div{
        margin:40px;
        align-items: center;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
      }

 