    h1{
        color:#2b170f;
        font-family:'Courier New', Courier, monospace; 
        align-content: center;
        align-items: center;
        }
    p{
        margin:auto;
        border:3px;
        align-content: space-around;

    }
    div{
        margin:40px;
        align-items: center;
    }
   