    h1{
        color:#204cb1;
        font-family: 'Times New Roman', Times, serif; text-align: center;
        }
    p{
        margin:auto;
        border:3px;
        align-content: space-around;

    }
    div{
        margin:40px;
        align-items: center;
    }
  